body{
    background-color: black;
    font color: white;
}
.movie_head i{
    float:right;
}
.movie_head{
    font-size: 20px;
    padding: 6px 22px;
    width: 100%;
    border-radius: 20px;
}